<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.plugins.youtube.tv</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleSignature</key>
	<string>hook</string>
	<key>CFBundleVersion</key>
	<string>4.1</string>

	<key>PlexPluginVersionUrl</key>
	<string>http://bit.ly/1FuE3dz</string>
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>

	<key>PlexClientPlatforms</key>
	<string>*</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexMediaContainer</key>
	<array>
		<string>MP4</string>
	</array>
	<key>PlexVideoCodec</key>
	<array>
		<string>H.264</string>
	</array>
	<key>PlexAudioCodec</key>
	<array>
		<string>AAC</string>
	</array>
	<key>PlexPluginConsoleLogging</key>
	<string>1</string>
	<key>PlexPluginDevMode</key>
	<string>0</string>
</dict>
</plist>
